.col-twelve{
    width: 100%;
    padding-right: 5px;
}

.timeline-wrap {
    position: relative;
    margin-top: 1.5rem;
}

.timeline-wrap::before {
    content: "";
    display: block;
    width: 1px;
    height: calc(100% - 1.5rem - 6px);
    background: var(--text-color);
    position: absolute;
    left: 1rem;
    top: 1.5rem;

}

.timeline-block {
    position: relative;
    padding-top: 1.5rem;
    background-color: transparent;

}

.timeline-ico {
    background: var(--font-color);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: .9rem;
    height: 4rem;
    width: 2rem;
    line-height: 2.6rem;
    left: 1rem;
    margin-left: -1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-ico fa-icon {
    position: relative;
    font-size: 18px;
    color: var(--text-color);
}


.timeline-header{
    float: none;
    width: auto;
    padding-right: 15px;
    text-align: left;
    margin-bottom: 30px;
}

.timeline-header a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
}

.timeline-header a:hover{
    text-decoration: underline;
}

.timeline-header p{
    margin-top: 5px;
    font-size: 13px;
    color: var(--text-color);
}

.timeline-content {
    margin: 0;
    padding-bottom: 0;
}

.timeline-content > div{
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px 15px;
    background-color: var(--second-color);
    /*transition: 1s;*/
    cursor: pointer;
}


.timeline-content > div.active{
    /*background-color: #dcdcdc;*/
    transition: 1s;
}


.timeline-content > div > div{
    width: 100%;

}

.timeline-content h4 {
    padding: 0 0 5px 0;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    color: var(--text-color);
}

.timeline-content h4 dfn {
    font-size: 12px;
    font-style: normal;
    margin-left: 5px;
}

.timeline-content p{
    font-size: 12px;
    padding: 0 0 5px 0;
    color: var(--text-color);
}

.timeline-header, .timeline-content {
    padding-left: 3rem;
}

.show-detail{
    outline: none;
    cursor: pointer;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    border: none;
    padding: 0 5px 0 10px;
    color: var(--text-color);
    background-color: transparent;
    font-size: 20px;
}

.f-detail{
    display: block;
    max-height: 0;
    overflow: hidden;
    padding-left: 3rem;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: max-height 1s;
}

.f-detail.active{
    max-height: 600px;
    transition: max-height 1s;
}

.f-detail > div{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin: 5px 0 0 0;
    position: relative;
    padding: 10px 10px 20px 10px;
}

.ens-title{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 10px;
}

.f-detail > div > div > div {
    display: flex;
    color: var(--text-color);
}

.f-detail fa-icon {
    font-size: 15px;
    margin-right: 5px;
    width: 30px;
    text-align: center;
}

.f-detail p {
    padding: 3px 0;
    font-size: 12px;
    width: 100%;
}


@media (min-width : 500px){

    .plaquette svg{
        font-size: 15px;
    }
    .timeline-ico {
        left: 1.8rem;
        height: 3.8rem;
        width: 3.8rem;
        line-height: 3.8rem;
        top: 0.5rem;
        margin-left: -1.9rem;
    }

    .timeline-ico svg{
        color: var(--text-color);
        font-size: 25px;
    }

    .timeline-wrap:before {
        content: "";
        display: block;
        width: 1px;
        position: absolute;
        left: 1.8rem;
        top: 1.5rem;
    }

    .timeline-content, .timeline-header {
        padding-left: 4.5rem;
    }

    .f-detail{
        padding-left: 4.5rem;
    }

}


@media (min-width: 768px) {

    .timeline-wrap::before {
        width: 1px;
        left: 35%;
    }

    .timeline-ico {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        left: 35%;
        margin-left: -2rem;
    }

    .timeline-ico svg{
        font-size: 30px;
    }

    .timeline-header {
        padding-right: 50px;
        float: left;
        width: 35%;
        text-align: right;
        padding-left: 0;
    }

    .timeline-content {
        margin-top: 7px;
        padding-left: 50px;
        margin-left: 35%;
    }

    .f-detail{
        margin-left: 35%;
        padding-left: 50px;
    }

}
